.button {
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 1;
    width: 50px;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    font-family: inherit;
    justify-content: center;
    background-color: var(--blue-primary);

    &__icon {
        width: 11px;
        height: 20px;
        display: block;
        fill: var(--text-white);
    }

    &__text {
        display: none;
        font-size: 18px;
        color: var(--text-white);
    }
}

@media (max-width: 700px) {
    .button {
        width: 100%;
        min-height: 45px;
        position: static;
        margin-top: 20px;

        &__icon {
            display: none;
        }

        &__text {
            display: block;
        }
    }

}
