.wrapper {

}

.header {
    display: flex;
    padding: 2px 0;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
}

.main {

}

.title {
    font-size: 14px;
    color: var(--text-primary);
}

.button {
    gap: 6px;
    border: none;
    display: flex;
    cursor: pointer;
    background: none;
    align-items: center;
    transition: 0.3s opacity;

    &:hover {
        opacity: 0.7;
    }
}

.caption {
    font-size: 14px;
    font-weight: 600;
    color: var(--blue-resolution);
}

.icon {
    display: block;
}
