.header {
    display: flex;
}

.tab {
    flex: 1 1;
    height: 25px;
    outline: none;
    display: flex;
    font-size: 11px;
    cursor: pointer;
    align-items: center;
    font-family: inherit;
    justify-content: center;
    color: var(--text-secondary-2);
    background-color: var(--blue-bg);

    &--active {
        color: var(--text-white);
        background-color: var(--blue-resolution);
    }
}

.content {
    gap: 2px;
    display: flex;
}
