.label {
    gap: 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.input {
    display: none;

    &:checked {
        & + .box {
            border-color: var(--blue-primary);
            background-color: var(--blue-primary);

            svg {
                opacity: 1;
            }
        }
    }
}

.box {
    width: 16px;
    height: 16px;
    display: flex;
    flex-shrink: 0;
    border-radius: 2px;
    align-items: center;
    transition: 0.3s all;
    justify-content: center;
    border: 2px solid var(--text-secondary-2);

    &--error {
        border-color: var(--error);
    }

    svg {
        opacity: 0;
        width: 9px;
        height: 8px;
        display: block;
        fill: var(--text-white);
        transition: 0.3s opacity;
    }
}

.text {
    font-size: 12px;
    color: var(--text-primary);

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }
}
